:root {
  --color1: 115, 2, 12; /*rgb(115, 2, 12) #73020C Principal*/
  --color2: 217, 74, 86; /*rgb(217, 74, 86) #D94A56 Secundario*/
  --color3: 191, 4, 38; /*rgb(191, 4, 38) #BF0426 tres*/
  --color4: 242, 235, 220; /*rgb(242, 235, 220) #F2EBDC cuatro*/
  --color5: 13, 13, 13; /*rgb(13, 13, 13) #0D0D0D cinco*/
  --color6: 244, 214, 149; /*rgb(244, 214, 149)  #F4D695  seis*/
  --color7: 51, 36, 36; /*rgb(51, 36, 36)  #332424  siete*/
  
  --background: 88, 5, 12; /*rgb(88, 5, 12)*/

  --black: 13, 13, 13; /*rgb(13, 13, 13)  #0D0D0D*/
  --white: 242, 235, 220; /*rgb(242, 235, 220) #F2EBDC*/
}

@font-face {
  font-family: 'SweetDreams';
  font-weight: 400;
  src: url('/assets/fonts/emilyscandy-nohearts-webfont.woff2'),
  url('/assets/fonts/emilyscandy-nohearts-webfont.woff');
}

@font-face {
  font-family: 'PWCartoonist';
  font-weight: 400;
  src: url('/assets/fonts/pwcartoonist-webfont.woff2'),
  url('/assets/fonts/pwcartoonist-webfont.woff');
}

/* 
==================
Global Styles
==================
*/

body {
  min-height: 100vh;
  max-width: 100%;
  color: rgb(var(--black));
  background-color: rgb(var(--background));
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 
==================
Fonts/Colors
==================
*/

.table__header,
.welcome-msg__title {
  font-weight: 400;
  font-size: 2rem;
}

.welcome-msg__text {
  font-family: 'Alegreya', serif;
  font-size: 1.3rem;
}

.welcome-msg__author {
  font-size: 1rem;
}

.title {
  font-family: 'SweetDreams', serif;
  font-weight: 700;
}

.nav-menu {
  font-size: .8rem;
  color: rgb(var(--color4));
}

.main h2 {
  font-size: 3rem;
}

.product__title {
  font-family: 'PWCartoonist';
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
}

.product__title--short {
  font-size: 2.4rem;
  line-height: 36px;
}

.product__title--one-word{
  font-size: 2.5em;
}

.product__title--butters{
  font-size: 2.1em;
}

.product__title--long-word{
  font-size: 1.8em;
}

.product__title--cambodian{
  line-height: 78px;
}

.product__rank {
  color: rgb(var(--color4));
  font-weight: 400;
  font-size: 1.5rem;
}

.product__description {
  font-family: 'SweetDreams';
  font-size: 1rem;
}

.product__description span {
  font-size: .96rem;
  font-weight: 700;
}

.product__button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.product__price {
  font-family: 'SweetDreams';
  font-size: 4rem;
}

.product__button {
  font-size: .7rem;
}

.table,
.header h1,
.main h2 {
  color: rgb(var(--white));
}

.table__title{
  font-size: 3.33rem;
}

.table__header {
  font-size: 1rem;
}

.table__cell--long-text {
  font-size: .9rem;
}

.header h1{
  font-size: 1.3rem;
}

.product__sold-out {
  font-size: 3.42rem;
  color: rgb(var(--color3));
}

/* 
==================
Layout
==================
*/

.welcome-msg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  background-color: rgb(var(--white));
  text-align: center;
  width: 90%;
  max-width: 1000px;
  padding: .7em;
  box-shadow: 0 0 0 100vmax rgba(var(--black),.8);
}

.welcome-msg__title {
  margin: 0;
}

.welcome-msg__close-icon {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;;
}

.welcome-msg__text {
  margin: 0;
  padding: .5em;
}

.welcome-msg__author {
  margin: 0;
}

/*Inicio NAVMENU*/
.header {
  background-color: rgb(var(--color5));
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.header h1{
  margin: 0;
  width: 105px;
}

.header-main {
  max-width: 1600px;
  margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 20px;
}

.logo {
  padding: 0 15px;
}

.nav-menu {
  padding: 0 15px;
}

.menu-item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

.plus {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
}

.menu-item > a {
  display: block;
  padding: 12px 0;
  transition: all 0.3s ease;
}

.plus::before,
.plus::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(var(--color4));
  height: 2px;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.plus::after {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.menu-item:hover > a .plus::before,
.menu-item:hover > a .plus::after{
  background-color: rgb(var(--color6));
}

.logo {
  transition: all 0.3s ease;
}
.menu-item:hover > a,
.logo:hover {
  color: rgb(var(--color6));
}

.sub-menu {
  display: none;
  width: 105px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgb(var(--color7));
  border-top: 3px solid rgb(var(--color6));
  transition: all 0.3s ease;
}

.sub-menu--level2 {
 display: none;
  background-color: rgb(var(--color7));
  position: absolute;
  top: 0;
  right: 100%;
  transform: translateY(-3px);
  width: 108px;
}

.sub-menu--level2 > .menu-item:hover {
  border-right: 3px solid rgb(var(--color6));
}


@media(min-width: 601px){
  .menu-item--has-children:hover > .sub-menu,
  .menu-item--has-children:hover > .sub-menu--level2 {
    display: initial;
  }

  .menu-item--has-children:hover > a .plus::after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.sub-menu > .menu-item,
.sub-menu--level2 > .menu-item {
  margin-left: 0;
  display: block;
}

.sub-menu > .menu-item > a,
.sub-menu--level2 > .menu-item > a {
  display: block;
  padding: 15px 10px;
}

.open-nav-menu {
  height: 34px;
  width: 40px;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: rgb(var(--color4));
  position: relative;
}

.open-nav-menu span::before,
.open-nav-menu span::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color4));
  top: -7px;
}

.open-nav-menu span::after{
  top: 7px;
}

.close-nav-menu {
  height: 40px;
  width: 40px;
  background-color: rgb(var(--color4));
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.close-nav-menu img {
  width: 30px;
}


@media(max-width: 600px){

  .header{
    position: fixed;
  }

  .nav-menu{
    position: fixed;
    top: 0;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    background-color: rgb(var(--color5));
    overflow-y: auto;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }

  .nav-menu.open{
    visibility: visible;
    right: 0px;
  }

  .menu-item{
    display: block;
    margin: 0;
    width: 100%;
  }

  .menu-item > a {
    padding: 12px 15px;
    border-bottom: 1px solid rgba(var(--color4),.3);
  }

  .menu-item:first-child > a {
    border-top: 1px solid rgba(var(--color4),.3);
  }

  .menu-item--has-children > a,
  .sub-menu > .menu-item--has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-item--has-children--active > a .plus::after {
    transform: translate(-50%, -50%) rotate(0deg);
  }



  .sub-menu,
  .sub-menu--level2 {
    display: block;
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    border: none;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .sub-menu--level2 > .menu-item:hover {
    border: none;
  }

  .sub-menu--active,
  .sub-menu--level2--active{
    max-height: initial;
  }
  
  .sub-menu > .menu-item {
    background-color: rgb(var(--color7));
  }

  .sub-menu > .menu-item > a {
    padding: 12px 15px 12px 35px;
  }

  .sub-menu--level2 > .menu-item > a {
    padding: 12px 15px 12px 45px;
  }
  
  .open-nav-menu,
  .close-nav-menu {
    display: flex;
  } 

}

/*FIN DEL NAVMENU */

.main {
  padding-top: 40px;
  max-width: 1500px;
  margin: 2em auto 0 auto;
}

.main h2 {
  margin-top: 0;
}

.title {
  text-align: center;
  margin-bottom: .8em;
}

.section-title{
  border: solid 2px rgb(var(--color4));
  padding: .1em 0 .2em 0;
  box-shadow: 6px 9px 33px -7px rgba(var(--black),0.63);
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  align-items: baseline;
  justify-content: space-around;
}

.product {
  position: relative;
  background-color: rgb(var(--color4));
  width: 320px;
  margin: 0 0 2em 0;
  box-shadow: 6px 9px 33px -7px rgba(var(--black),0.63);
}

/* Carousel */

.carousel {
  position: relative;
  height: 400px;
  width: 80%;
  margin:  auto;
  padding: 1.5rem 0;
}

.carousel__track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-bottom: solid 3px rgb(var(--color5));
  border-right: solid 2px rgb(var(--color5));
}

.carousel__track-container::before{
  position: absolute;
  top: 2em;
  left: -6em;
  z-index: 10;
  content: '';
  height: 70px;
  width: 300px;
  background-color: rgb(var(--color4));
  transform: rotate(130deg);
  border: solid 2px rgb(var(--color5));
}
.carousel__track-container::after{
  content: '';
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-top: solid 2px rgb(var(--color5));
  border-left: solid 2px rgb(var(--color5));
}

.carousel__track {
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -2rem;
}

.carousel__button--right {
  right: -2rem;
}

.carousel__button img {
  width: 30px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 1px solid rgb(var(--black));
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: transparent;
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(var(--black),.8);
}

/*FIN DEL CAROUSEL*/

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title{
  position: absolute;
  top: 48px;
  left: -16px;
  /*background-color: rgba(0,0,0,.3); */
  z-index: 20;
  transform: rotate(-50deg);
  margin: 0;
  width: 200px;
  height: 70px;
  text-align: center;
}

.product__title--short {
  top: 45px;
  left: -18px;
}

.product__title--one-word {
  top: 60px;
  left: -8px;
}

.product__rank {
  position: absolute;
  background-color: rgb(var(--color5));
  top: 349px;
  left: 34px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 252px;
  height: 25px;
}

.product__rank span{
  padding-top: 5px;
}

.product__rank__image {
  width: 18px;
  display: inline-block;
}

.product__price {
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  align-self: flex-start;
}

.product__sold-out {
  display: flex;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 320px;
  height: 90px;
  margin: 0;
  padding-bottom: .2em;
 /* background-color: rgba(180, 217, 154, .9);*/
  background-color: rgba(var(--color4),.9);
  align-items: center;
  justify-content: center;
}

.product__description {
  position: relative;
  height: 60px;
  padding: 0 1.8em;
  margin: 0;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}

.product__description::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgb(var(--color4)));
}

.product__description--active {
  height: auto;
}

.product__description--active::before {
  display: none;
}

.product__description span {
  line-height: 2em;
}

.product__button {
  background-color: transparent;
  padding: .7em;
  margin-bottom: 20px;
  border: 1px solid rgb(var(--color5));
  border-radius: 5px;
  cursor: pointer;
}

.product__button::before {
  content: 'Mostrar más';
}

.product__button--active::before {
  content: 'Ocultar';
}

.price-tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  margin: 0 auto;
}

.table {
  border-collapse: collapse;
  margin-bottom: 3em;
}

.table__cell {
  border: 3px dashed rgb(var(--color4));
  width: 110px;
  height: 110px;
  text-align: center;
}

.table__title{
  width: auto;
  height: auto;
  padding: .45em 0;
  border-bottom: none;
}

.table__header {
  height: 50px;
}

.footer {
  background-color: rgb(var(--color5));
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 1.2em 0;
}

.footer__icon {
  width: 50px;
}

/*
  ==================
  Transitions/Animations
  ==================
*/

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

.promo-text {  
  --bg-size: 500%;
  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}

/* 
  ==================
  Overwriting styles
  ==================
*/
  .hide{
    display: none;
}


.hidden-scrolling {
  overflow-y: hidden;
}

.main--inactive{
  pointer-events: none;
}

.menu-overlay {
  box-shadow: 0 0 0 100vmax rgba(var(--black),.8);
}