/*@font-face {
  font-family: 'SweetDreams';
  font-weight: 400;
  src: url('http://proximaestacion.lat/assets/fonts/emilyscandy-regular-webfont.woff2'),
  url('http://proximaestacion.lat/assets/fonts/emilyscandy-regular-webfont.woff');
}

@font-face {
  font-family: 'Rundeck';
  font-weight: 400;
  src: url('http://proximaestacion.lat/assets/fonts/rundeck-webfont.woff2'),
   url('http://proximaestacion.lat/assets/fonts/rundeck-webfont.woff');
}

@font-face {
  font-family: 'HerticalTexture';
  font-weight: 400;
  src:  url('http://proximaestacion.lat/assets/fonts/herticaltexture-webfont.woff2'),
  url('http://proximaestacion.lat/assets/fonts/herticaltexture-webfont.woff');
} */

@font-face {
  font-family: 'SweetDreams';
  font-weight: 400;
  src: url('/assets/fonts/emilyscandy-nohearts-webfont.woff2'),
  url('/assets/fonts/emilyscandy-nohearts-webfont.woff');
}

@font-face {
  font-family: 'Rundeck';
  font-weight: 400;
  src: url('/assets/fonts/rundeck-tildes-webfont.woff2'),
   url('/assets/fonts/rundeck-tildes-webfont.woff');
}

@font-face {
  font-family: 'HerticalTexture';
  font-weight: 400;
  src:  url('/assets/fonts/herticaltexture-webfont.woff2'),
  url('/assets/fonts/herticaltexture-webfont.woff');
}

/* 
==================
Global Styles
==================
*/
body {
  min-height: 100vh;
  max-width: 100vw;
  color: #1A1110;
  /*background-image: linear-gradient(135deg, #b47c00, #bfb9bc ); */
  /*background-image: radial-gradient( circle 957px at 3.5em 30em,  #BBA273  0%, #b47c00 90% ); */
  background-image: radial-gradient( circle at 50% 50%, #Fdcb4c 5%, #74470b 95%);
  /*background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
 background-blend-mode: multiply,multiply; */
  font-family: 'SweetDreams', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
==================
Fonts/Colors
==================
*/

.catalog__varieties,
.product__rank, .table__cell, .product__sold-out {
  font-family: 'Rundeck', serif;
}

.title,
.table__header,
.nav,
.welcome-msg__title {
  font-family: 'HerticalTexture', serif;
  font-weight: 400;
  font-size: 2rem;
  color: #1A1110;
}

.welcome-msg__text {
  font-family: 'Alegreya', serif;
  font-size: 1.3rem;
}

.welcome-msg__author {
  font-family: 'Anton', sans-serif;
  font-size: 1rem;
}

.main {
  padding-top: 40px;
  max-width: 1500px;
  margin: 0 auto;
}

.main h2 {
  font-size: 3rem;
  margin-top: 0;
}

.title--yellow {
  color: #ffd119;
  text-shadow: -1px -1px 0 #1A1110, 1px -1px 0 #1A1110, -1px 1px 0 #1A1110, 1px 1px 0 #1A1110;
}

.title--white {
  text-shadow: -1px -1px 0 #FFF5EE, 1px -1px 0 #FFF5EE, -1px 1px 0 #FFF5EE, 1px 1px 0 #FFF5EE;
}

.title--gold1 {
  text-shadow: -1px -1px 0 #b8ac7a, 1px -1px 0 #b8ac7a, -1px 1px 0 #b8ac7a, 1px 1px 0 #b8ac7a;
}

.title--gold2 {
  text-shadow: -1px -1px 0 #cdb379, 1px -1px 0 #cdb379, -1px 1px 0 #cdb379, 1px 1px 0 #cdb379;
}

.catalog__varieties {
  color: #FFF5EE;
  text-shadow: -1px -1px 0 #1A1110, 1px -1px 0 #1A1110, -1px 1px 0 #1A1110, 1px 1px 0 #1A1110;
}

.product__title {
  font-size: 2.4rem;
  line-height: 38px;
}

.product__rank {
  font-weight: 400;
  font-size: 1.5rem;
}

.product__description {
  font-size: 1rem;
}

.product__description span {
  font-size: .96rem;
  font-weight: 700;
}

.product__button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.product__price {
 font-size: 4rem;
}

.product__button {
  font-size: .7rem;
}

.table__title,
.table__header,
.nav {
  color: #FFF5EE;
}

.table__title{
  font-size: 3rem;
}

.table__header {
  font-size: .8rem;
}

.table__cell--long-text {
  font-size: .9rem;
}

.header h1{
  color: #FFF5EE;
  font-size: 2.1rem;
}

.product__sold-out {
  font-size: 3.42rem;
  /* color: #ff5757; */
  color: #ff3232;
}

.nav {
  font-size: 1rem;
}

/* 
==================
Layout
==================
*/

.welcome-msg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #FFF5EE;
  text-align: center;
  width: 90%;
  max-width: 1000px;
  padding: .7em;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.8);
}

.welcome-msg__title {
  margin: 0;
}

.welcome-msg__close-icon {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;;
}

.welcome-msg__text {
  margin: 0;
  padding: .5em;
}

.welcome-msg__author {
  margin: 0;
}

.header {
  background: #1A1110;
  padding: 1.2em 0;
}

.header h1{
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.nav__contact__icons,
.nav__links__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
  width: 150px;
}

.nav__icon {
  width: 50px;
  margin: 0 auto;
}

.catalog__varieties,
.carousel__track {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__varieties {
  margin-bottom: 2em;
}

.title,
.catalog__varieties li{
  text-align: center;
  margin-bottom: 0.5em;
}

.title {
  margin-bottom: .8em;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.product {
  position: relative;
  background-color: #E6DBC3;
  width: 320px;
  margin: 0 auto 2em auto;
  box-shadow: 6px 9px 33px -7px rgba(26,17,16,0.63);
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title{
  position: absolute;
  top: 50px;
  left: -20px;
  /*background-color: rgba(0,0,0,.3); */
  z-index: 20;
  transform: rotate(-50deg);
  margin: 0;
  width: 200px;
  height: 65px;
  text-align: center;
}

.product__rank {
  position: absolute;
  background-color: #FFF5EE;
  top: 349px;
  left: 34px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 252px;
  height: 25px;
}

.product__rank span{
  padding-top: 5px;
}

.product__rank__image {
  width: 100px;
}

.product__price {
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  align-self: flex-start;
}

.product__sold-out {
  display: flex;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 320px;
  height: 90px;
  margin: 0;
  padding-bottom: .2em;
  background-color: rgba(230, 219, 195,.9);
  align-items: center;
  justify-content: center;
}

.product__description {
  position: relative;
  height: 60px;
  padding: 0 1.8em;
  margin: 0;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}

.product__description::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #E6DBC3);
}

.product__description--active {
  height: auto;
}

.product__description--active::before {
  display: none;
}

.product__description span {
  line-height: 2em;
}

.product__button {
  background: #FFF5EE;
  padding: .7em;
  margin-bottom: 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.product__button::before {
  content: 'Mostrar más';
}

.product__button--active::before {
  content: 'Ocultar';
}

.price-tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.table {
  border-collapse: collapse;
  margin-bottom: 3em;
}

.table__cell {
  border: 3px dashed #1A1110;
  width: 110px;
  height: 110px;
  text-align: center;
}

.table__title{
  width: auto;
  height: auto;
  padding: .45em 0;
  border-bottom: none;
}

.table__header {
  height: 50px;
}

.footer {
  background-color: #1A1110;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 1.2em 0;
}

/* 
==================
Carousel
==================
*/

.carousel {
  position: relative;
  height: 400px;
  width: 80%;
  margin:  auto;
  padding: 1.5rem 0;
}

.carousel__track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-bottom: solid 3px #FFF5EE;
  border-right: solid 2px #FFF5EE;
}

.carousel__track-container::before{
  position: absolute;
  top: 2em;
  left: -6em;
  z-index: 10;
  content: '';
  height: 70px;
  width: 300px;
  background-color: #E6DBC3;
  transform: rotate(130deg);
  border: solid 2px #FFF5EE;
}
.carousel__track-container::after{
  content: '';
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-top: solid 2px #FFF5EE;
  border-left: solid 2px #FFF5EE;
}

.carousel__track {
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -2rem;
}

.carousel__button--right {
  right: -2rem;
}

.carousel__button img {
  width: 30px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(26,17,16,.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(26,17,16,.75);
}

/*
  ==================
  Transitions/Animations
  ==================
  */

/* 
  ==================
  Overwriting styles
  ==================
  */
.hide{
    display: none;
}