/*@font-face {
  font-family: 'SweetDreams';
  font-weight: 400;
  src: url('http://proximaestacion.lat/assets/fonts/emilyscandy-regular-webfont.woff2'),
  url('http://proximaestacion.lat/assets/fonts/emilyscandy-regular-webfont.woff');
}

@font-face {
  font-family: 'Rundeck';
  font-weight: 400;
  src: url('http://proximaestacion.lat/assets/fonts/rundeck-webfont.woff2'),
   url('http://proximaestacion.lat/assets/fonts/rundeck-webfont.woff');
}

@font-face {
  font-family: 'HerticalTexture';
  font-weight: 400;
  src:  url('http://proximaestacion.lat/assets/fonts/herticaltexture-webfont.woff2'),
  url('http://proximaestacion.lat/assets/fonts/herticaltexture-webfont.woff');
} */

:root {
  --color1: rgb(115, 2, 12); /*Principal*/
  --color2: rgb(242, 235, 220); /*Secundario*/
  --color3: #0D0D0D;
  --color4: #0D0D0D;

  --black: rgb(13, 13, 13);
  --white: rgb(242, 235, 220);
}

@font-face {
  font-family: 'SweetDreams';
  font-weight: 400;
  src: url('/assets/fonts/emilyscandy-nohearts-webfont.woff2'),
  url('/assets/fonts/emilyscandy-nohearts-webfont.woff');
}

@font-face {
  font-family: 'Rundeck';
  font-weight: 400;
  src: url('/assets/fonts/rundeck-tildes-webfont.woff2'),
   url('/assets/fonts/rundeck-tildes-webfont.woff');
}

@font-face {
  font-family: 'HerticalTexture';
  font-weight: 400;
  src:  url('/assets/fonts/herticaltexture-webfont.woff2'),
  url('/assets/fonts/herticaltexture-webfont.woff');
}

@font-face {
  font-family: 'PWCartoonist';
  src: /* url('/assets/fonts/Shoes\ center.ttf'); */
      /* url('/assets/fonts/YARDSALE.TTF'); */
      /* url('/assets/fonts/Broken\ Dreams.otf'); */
      /* url('/assets/fonts/mouthbrebb.ttf'); */
     /*  url('/assets/fonts/Who\ Dares!\ Bold\ Italic.otf'); */
       url('/assets/fonts/PWCartoonist.ttf');
}

/* 
==================
Global Styles
==================
*/

body {
  min-height: 100vh;
  max-width: 100%;
  color: var(--black);
  /*background-image: linear-gradient(135deg, #b47c00, #bfb9bc ); */
  /*background-image: radial-gradient( circle 957px at 3.5em 30em,  #BBA273  0%, #b47c00 90% ); */
  /*background-image: linear-gradient(135deg, var(--color1), var(--color4) );
  /*background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
 background-blend-mode: multiply,multiply; */
 /*background-color: #73020C; */
  background-color: #58050C;

  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 
==================
Fonts/Colors
==================
*/

.table__header,
.welcome-msg__title {
  font-weight: 400;
  font-size: 2rem;
}

.welcome-msg__text {
  font-family: 'Alegreya', serif;
  font-size: 1.3rem;
}

.welcome-msg__author {
  font-size: 1rem;
}

.title {
  font-family: 'SweetDreams', serif;
  font-weight: 700;
}

.main h2 {
  font-size: 3rem;
}

.product__title {
  font-family: 'PWCartoonist';
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
}

.product__title--short {
  font-size: 2.5rem;
  line-height: 36px;
}

.product__rank {
  font-weight: 400;
  font-size: 1.5rem;
}

.product__description {
  font-family: 'SweetDreams';
  font-size: 1rem;
}

.product__description span {
  font-size: .96rem;
  font-weight: 700;
}

.product__button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.product__price {
  font-family: 'SweetDreams';
  font-size: 4rem;
}

.product__button {
  font-size: .7rem;
}

.table,
.header h1,
.main h2 {
  color: var(--white);
}

.table__title{
  font-size: 3rem;
}

.table__header {
  font-size: .8rem;
}

.table__cell--long-text {
  font-size: .9rem;
}

.header h1{
  font-size: 2.1rem;
}

.product__sold-out {
  font-size: 3.42rem;
  color: #BF0426;
}

/* 
==================
Layout
==================
*/

.welcome-msg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  background-color: var(--white);
  text-align: center;
  width: 90%;
  max-width: 1000px;
  padding: .7em;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.8);
}

.welcome-msg__title {
  margin: 0;
}

.welcome-msg__close-icon {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;;
}

.welcome-msg__text {
  margin: 0;
  padding: .5em;
}

.welcome-msg__author {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  z-index: 1000;
}

.header h1{
  margin: 0 0 0 1em;
  font-size: 1.3rem;
  width: 105px;
  text-align: justify;
}
/*NAV BAR DROPDOWNMENU*/

.nav {
  font-size: .83rem;
  color: var(--white);
}

.nav__level1 li{
  float: left;
  position: relative;
  background-color: var(--black);
  width: 160px;
}

.nav__level1 li a {
  display: block;
  padding: 20px;
  transition: all .2s ease;
}

.nav__level1 li a:hover {
  background-color: #66433F;
}

.nav__level2 {
  position: absolute;
  right: 0;
  display: none;
}

.nav__level3 {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(-49%, 0%);
  width: 160px;
  display: none;
}

.nav__level2 li {
  width: 100%;
  background-color: #332220;
}

.nav__level1 li:hover > ul {
  display: initial;
}

.nav__menu-icon {
  color: var(--white);
  text-align: center;
  font-size: 3rem;
  display: none;
  margin-right: 1em;
  cursor: pointer;
}

@media(max-width:800px) {

  .header label {
    display: inline;
  }

  .header {
    padding: 20x 10%;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--black);
    display: none;
  }

  .nav__level1 li {
    width: 100%;
  }

  .nav__level1 li a {
    padding: 10px 0px 10px 7%;
  }

  .nav__level2 {
    position: relative;
    width: 100%;
    left: 0;
  }

  .nav__level2 li {
    background-color: #332220;
  }

  .nav__level3 {
    position: relative;
    width: 100%;
    left: 0;
  }

  #toggle:checked ~ .nav {
    display: block;
  }

}



/*FIN NAV BAR*/

.main {
  padding-top: 40px;
  max-width: 1500px;
  margin: 2em auto 0 auto;
}

.main h2 {
  margin-top: 0;
}

.title {
  text-align: center;
  margin-bottom: 0.8em;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  align-items: baseline;
  justify-content: space-around;
}

.product {
  position: relative;
  background-color: var(--color2);
  width: 320px;
  margin: 0 0 2em 0;
  box-shadow: 6px 9px 33px -7px rgba(26,17,16,0.63);
}

/* 
==================
Carousel
==================
*/

.carousel {
  position: relative;
  height: 400px;
  width: 80%;
  margin:  auto;
  padding: 1.5rem 0;
}

.carousel__track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-bottom: solid 3px var(--color3);
  border-right: solid 2px var(--color3);
}

.carousel__track-container::before{
  position: absolute;
  top: 2em;
  left: -6em;
  z-index: 10;
  content: '';
  height: 70px;
  width: 300px;
  background-color: var(--color2);
  transform: rotate(130deg);
  border: solid 2px var(--color3);
}
.carousel__track-container::after{
  content: '';
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-top: solid 2px var(--color3);
  border-left: solid 2px var(--color3);
}

.carousel__track {
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -2rem;
}

.carousel__button--right {
  right: -2rem;
}

.carousel__button img {
  width: 30px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 1px solid var(--black);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: transparent;
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(26,17,16,.8);
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title{
  position: absolute;
  top: 50px;
  left: -20px;
  /*background-color: rgba(0,0,0,.3); */
  z-index: 20;
  transform: rotate(-50deg);
  margin: 0;
  width: 200px;
  height: 65px;
  text-align: center;
}
.product__rank {
  position: absolute;
  color: var(--color2);
  background-color: var(--black);
  top: 349px;
  left: 34px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 252px;
  height: 25px;
}

.product__rank span{
  padding-top: 5px;
}

.product__rank__image {
  width: 100px;
}

.product__price {
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  align-self: flex-start;
}

.product__sold-out {
  display: flex;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 320px;
  height: 90px;
  margin: 0;
  padding-bottom: .2em;
 /* background-color: rgba(180, 217, 154, .9);*/
  background-color: rgba(242, 235, 220,.9);
  align-items: center;
  justify-content: center;
}

.product__description {
  position: relative;
  height: 60px;
  padding: 0 1.8em;
  margin: 0;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}

.product__description::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, var(--color2));
}

.product__description--active {
  height: auto;
}

.product__description--active::before {
  display: none;
}

.product__description span {
  line-height: 2em;
}

.product__button {
  background-color: transparent;
  padding: .7em;
  margin-bottom: 20px;
  border: 1px solid var(--black);
  border-radius: 5px;
  cursor: pointer;
}

.product__button::before {
  content: 'Mostrar más';
}

.product__button--active::before {
  content: 'Ocultar';
}

.price-tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  margin: 0 auto;
}

.table {
  border-collapse: collapse;
  margin-bottom: 3em;
}

.table__cell {
  border: 3px dashed var(--color2);
  width: 110px;
  height: 110px;
  text-align: center;
}

.table__title{
  width: auto;
  height: auto;
  padding: .45em 0;
  border-bottom: none;
}

.table__header {
  height: 50px;
}

.footer {
  background-color: var(--black);
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 1.2em 0;
}

.footer__icon {
  width: 50px;
}


/*
  ==================
  Transitions/Animations
  ==================
  */

/* 
  ==================
  Overwriting styles
  ==================
  */
.hide{
    display: none;
}